/*body*/
body{
    display: flex;
    justify-content: space-around;
}



/*table*/
.tablecont{
    display: flex;
    width: 80vw;
    height: 64vw;
}
.tablecont>div{
    width: 8vw;
    height: 64vw;
    display: flex;
    flex-wrap: wrap;  
}
.tablecont>div>div{
    height: 8vw;
    width: 8vw;
    border: 1px solid black;
}
.tablecont>div>div>canvas{
    width: 16vw;
    height: 8vw;
}
